.table-container {
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  border: 1px solid #B0E0E6;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(176, 224, 230, 0.4);
  font-family: 'Arial', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 2px solid #E0FFFF;
}

th {
  background-color: #B0E0E6;
  color: #333;
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease-in-out;
}

.pagination {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color:rgb(84, 129, 211);
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(63, 114, 210);
}

button:disabled {
  background-color: #E0E0E0;
  color: #B0B0B0;
  cursor: default;
}

input[type="number"], input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"] {
  margin-right: 5px;
  width: 300px;
}

.button {
  background-color: rgb(84, 129, 211);
  color: white;
  padding: 10px 20px;
  margin: 4px 2px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(63, 114, 210);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  background-color: #f0f8ff;
  border-bottom: 1px solid #ddd;
}

li:hover {
  background-color: #e0f7ff;
}

.import-container, .controls-container {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  gap: 10px;
  border-radius: 5px;
  justify-content: space-between;
}

.input-file {
  border: 2px solid rgb(84, 129, 211);
  padding: 8px 10px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.input-file:hover {
  border-color: rgb(84, 129, 211);
}
